body {
  background-color: orange;
}

.main {
  position: relative;
  display: flex;
  height: 262px;
  width: 688px;
  padding-left: 220px;
  padding-top: 70px;
  padding-bottom: 81px;
  margin-left: 20%;
  margin-top: 10%;
  border-radius: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main .texts {
  padding-top: 12px;
}

.main .texts button {
  height: 44px;
  width: 136px;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: orangered;
  font-size: 20px;
}
.main .texts button:hover {
  transform: scale(1.2);
  transition: all 0.6s;
}

.main .dots {
  display: flex;
  width: 20px;
  align-content: center;
  flex-wrap: wrap;
  margin-right: 13px;
}

.main .dots .dot-up {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: gray;
}

.main .dots .dot-middle {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 9px;
  height: 38px;
  width: 15px;
  background-color: orangered;
}

.main .dots .dot-down {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: gray;
}

.main .absolute-div {
  position: absolute;
  height: 257px;
  width: 257px;
  background-color: orangered;
  left: -82px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main .absolute-div:hover {
  transform: scale(1.2);
  transition: all 0.6s;
}
